* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #001f0f;
  color: white;
}

.hero {
  position: relative;
  height: 50vh;
  padding: 20px;
  background-image: url("img/fundo.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 64, 32, 0.79); /* verde escuro com transparência */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid white;
  background-color: black;
}

.instagram {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.frase {
  font-size: 1.1rem;
  font-style: italic;
  margin-top: 10px;
  color: #e0e0e0;
}

/* Seção dos banners e botões */
.promocao {
  background: url("img/fundo2.png") no-repeat center center / cover;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.banners {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.banner {
  width: 90%;
  max-width: 600px;
  border: 4px solid #ffd700;
  border-radius: 6px;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.botao {
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 15px #ffd700;
  width: 80%;
  max-width: 300px;
  transition: transform 0.2s ease;
}

.botao:hover {
  transform: scale(1.05);
}

.botao.whatsapp {
  background-color: #25d366;
}

.botao.site {
  background-color: #000000;
}

.footer {
  background-color: #082c1c; /* verde escuro */
  color: #ffffff;
  text-align: center;
  padding: 15px 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.footer p {
  margin: 0;
}

.footer em {
  font-style: italic;
}

.footer strong {
  font-weight: bold;
}
